.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.75rem;
    text-align: center;
    color: #359756;
}
.testimonial-container {
    position: relative;
}
.slide-show {
    width: 2400px;
    display: flex;
    margin: 0 auto;
    transform: translateX(0); /* Initial translateX value */
    transition: transform 0.3s ease;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 40px 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 350px;
    margin-left: 40px;
}

img.profile-pic {
    width: 80px;
    border-radius: 50% 50%;
    height: 80px;
    border: white solid 5px;
}

.testimonial .content {
    padding-top: 60px;
    text-align: center;
    font-family: Roboto;
    line-height: 2;
    font-weight: 300;
}

.name {
    color: #359756;
    font-size: 1.25rem;
    font-weight: 900;
}

.designation {
    color: #808080;
    font-size: medium;
    font-weight: 300;
}

.slider-buttons {
    position: absolute;
    transform: translateY(-300px);
    display: flex;
    justify-content: space-between;
}

